[submodule "API"]
	path = API
	url = https://github.com/wricke/challenge-zoox-api
[submodule "challenge-zoox-webapp"]
	path = challenge-zoox-webapp
	url = https://github.com/wricke/challenge-zoox-webapp
